In [1]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

        ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

        ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

        ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

      ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [2]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)  
df=pd.DataFrame(te_ary, columns=te.columns_)  
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [3]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True) 
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Skirt, Pants)

In [4]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [5]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [6]:
import pandas as pd
import seaborn as sns
df = pd.read_csv(r"C:\\Users\\almostashar\\Downloads\\Market_Basket_Optimisation.csv",delimiter=",",header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
transactions = []
for i in range(0, 7501):
    transactions.append([str(df.values[i,j]) for j in range(0, 20)])

In [15]:
te=TransactionEncoder()
te_ary=te.fit(transactions).transform(transactions)  
df=pd.DataFrame(te_ary, columns=te.columns_)  
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [19]:
frequent_itemsets=apriori(df,min_support=0.003,use_colnames=True) 
frequent_itemsets

       support                                           itemsets
0     0.020397                                          (almonds)
1     0.008932                                (antioxydant juice)
2     0.004666                                        (asparagus)
3     0.033329                                          (avocado)
4     0.004533                                      (babies food)
...        ...                                                ...
2881  0.003066  (mineral water, pancakes, spaghetti, nan, grou...
2882  0.003066  (tomatoes, mineral water, spaghetti, nan, grou...
2883  0.003333   (olive oil, milk, mineral water, spaghetti, nan)
2884  0.003066      (milk, mineral water, spaghetti, shrimp, nan)
2885  0.003333    (tomatoes, milk, mineral water, spaghetti, nan)

[2886 rows x 2 columns]

In [20]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(eggs),0.020397,0.179709,0.006532,0.320261,1.782108,2.866880e-03,1.206774
1,(almonds),(mineral water),0.020397,0.238368,0.007599,0.372549,1.562914,2.736923e-03,1.213851
2,(almonds),(nan),0.020397,0.999867,0.020264,0.993464,0.993597,-1.305963e-04,0.020397
3,(antioxydant juice),(nan),0.008932,0.999867,0.008799,0.985075,0.985206,-1.321248e-04,0.008932
4,(asparagus),(nan),0.004666,0.999867,0.004666,1.000000,1.000133,6.220563e-07,inf
...,...,...,...,...,...,...,...,...,...
3449,"(milk, spaghetti, tomatoes, nan)",(mineral water),0.005866,0.238368,0.003333,0.568182,2.383631,1.934649e-03,1.763779
3450,"(mineral water, spaghetti, tomatoes, nan)",(milk),0.009332,0.129583,0.003333,0.357143,2.756099,2.123611e-03,1.353982
3451,"(mineral water, milk, tomatoes)","(spaghetti, nan)",0.006532,0.174110,0.003333,0.510204,2.930353,2.195521e-03,1.686192
3452,"(milk, spaghetti, tomatoes)","(nan, mineral water)",0.005866,0.238235,0.003333,0.568182,2.384965,1.935431e-03,1.764088
3453,"(mineral water, spaghetti, tomatoes)","(milk, nan)",0.009332,0.129583,0.003333,0.357143,2.756099,2.123611e-03,1.353982

In [21]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cottage cheese),(brownies),0.031862,0.033729,0.003466,0.108787,3.225330,0.002392,1.084220
1,(brownies),(cottage cheese),0.033729,0.031862,0.003466,0.102767,3.225330,0.002392,1.079026
2,(chicken),(light cream),0.059992,0.015598,0.004533,0.075556,4.843951,0.003597,1.064858
3,(light cream),(chicken),0.015598,0.059992,0.004533,0.290598,4.843951,0.003597,1.325072
4,(mushroom cream sauce),(escalope),0.019064,0.079323,0.005733,0.300699,3.790833,0.004220,1.316568
...,...,...,...,...,...,...,...,...,...
1261,"(nan, tomatoes)","(milk, spaghetti, mineral water)",0.068391,0.015731,0.003333,0.048733,3.097846,0.002257,1.034692
1262,"(milk, mineral water)","(spaghetti, tomatoes, nan)",0.047994,0.020931,0.003333,0.069444,3.317852,0.002328,1.052134
1263,"(milk, spaghetti)","(mineral water, nan, tomatoes)",0.035462,0.024397,0.003333,0.093985,3.852356,0.002468,1.076807
1264,"(spaghetti, mineral water)","(milk, nan, tomatoes)",0.059725,0.013998,0.003333,0.055804,3.986501,0.002497,1.044276
1265,(tomatoes),"(milk, spaghetti, mineral water, nan)",0.068391,0.015731,0.003333,0.048733,3.097846,0.002257,1.034692